<!DOCTYPE html>
<html>
<head>
    <title>Mapomates</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mapomates.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" /><![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script type="text/javascript">
        var STATIC_URL = '/static/';
        var PROFILES_URL = STATIC_URL+'stubs/profiles.js';
        //var PROFILES_URL = '{% url all-json-profiles %}';
        {% if user.is_authenticated %}
        var USERNAME = '{{ user.username }}';
        {% else %}
        var USERNAME = null;
        {% endif %}
        var CLOUDMADE_KEY = 'f5293033387946df9e5a60a0dae6c9a0';
        var CLOUDMADE_THEME = '41387';

    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mapomates.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Hello, {{ user.username }}</p>
    <p><a href="#">Click here</a> to change your location. Or simply drag your marker on the map</p>
    {% else %}
    {% endif %}
    <div class="wrapper">
        <div id="profiles">
            <table>
            </table>
        </div>
        <div id="map">
            Map is loading...
        </div>
    </div>
</body>
</html>
