<!DOCTYPE html>
<html>
<head>
    <title>Mapomates</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/mapomates.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.ie.css" /><![endif]-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
    <script type="text/javascript">
        var STATIC_URL = '/static/';
        var PROFILES_URL = STATIC_URL+'stubs/profiles.js';
        //var PROFILES_URL = '{% url all-json-profiles %}';
        var PROXY_URL = '{% url ajax_proxy %}';
        {% if user.is_authenticated %}
        var USERNAME = '{{ user.username }}';
        {% else %}
        var USERNAME = null;
        {% endif %}
        var CLOUDMADE_KEY = 'f5293033387946df9e5a60a0dae6c9a0';
        var CLOUDMADE_THEME = '41387';
        var PROFILES = {{ profiles|safe }};

    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/mapomates.js"></script>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
        <p>Enter the search query to see oDesk providers on the map</p>
        <p>Drag your marker on the map to change your location</p>
    {% else %}
        <p>Hello, Guest</p>
        <p>Enter the search query to see oDesk providers on the map</p>
        <p><a href="{% url django_odesk.auth.views.authenticate %}?next={{ next }}">Log in with oDesk account</a> to change your location</p>
    {% endif %}
    <div id="controls">
        <form id="search_form" action="." method="get">
            <p><input id="search" type="text" name="q" value=""/><button type="submit">Search</button><button id="reset-search-button">Reset</button></a></p>
        </form>
    </div>
    <div class="wrapper">
        <div id="profiles">
            <table>
            </table>
        </div>
        <div id="map">
            Map is loading...
        </div>
    </div>
    <div id="footer">
        &copy; 2011 <abbr title="{{ tbd_meaning }}">TBD</abbr> Team at <a href="http://www.odesk.com/">oDesk Corporation</a>.
    </div>
    {% csrf_token %}
</body>
</html>
