Django==1.3
django-annoying
django-debug-toolbar
django-extensions
-e git+git://github.com/odesk/python-odesk.git@0.2beta2#egg=odesk2beta
-e git+git://github.com/sergray/django-odesk.git@stable#egg=django_odesk_sergray
